<div class="container center">

	<%= form_for([@item, @item.comments.build]) do |f|%>



		<div class="form-group">
			<%= f.text_area :content,class: "form-control" %>
		</div>
		
		
			<div class="actions">
				<%=f.submit "Add", class: "btn btn-primary"  %>
			<br>
			</div>

		

	<%end%>
	

</div>