
<div class="container">
	<%= form_for([@item, @comment]) do |f|%>

		<div class="form-group">
			<%= f.text_field :content,class: "form-control"%>
		</div>
		

		<div class="actions">
		<%=f.submit "Update",  class: "btn btn-primary" %>
		</div>

	<%end%>

</div>