<div class="container">
	<h1 align="center">Editing Lesson</h1>

	<%= render 'form', item: @item %>
	<br>


	<p align="center"><%= link_to 'Show', @item,class: "btn btn-sm btn-primary" %> |
	<%= link_to 'Back', items_path,class: "btn btn-sm btn-primary" %></p>
</div>
