.new_user {
	background: rgba(0,0,0,0);
    max-width: 330px;
    padding: 5em 1em;
    margin: 0 auto;
}

.up{

background-image: url('https://s3.amazonaws.com/draganoiu/tweets/images/000/000/001/original/bg13.jpeg');
background-position: center center;
background-size: 100% 100%;
 background-repeat: no-repeat;
 margin:  5px 10px 10px 10px;
 background-size: contain;

}

.in {

background-image: url('https://s3.amazonaws.com/draganoiu/tweets/images/000/000/001/original/bg13.jpeg');
background-position: center center;
background-size: 100% 100%;
background-repeat: no-repeat;
margin: 5px 10px 10px 10px ;
background-size: contain;

}